@import '../../styles/kitchensink';

.list {
  @extend %reset-list;
  @extend %flex-wrap;
}

.link {
  @extend %block;
  @include padX;
  line-height: $MIN_TAP_TARGET_SIZE;
  background: $COLOR_CORE_DARKER;
  color: $COLOR_CORE_LIGHTEST;

  &:hover {
    background: $COLOR_CORE_LIGHTEST;
    color: $COLOR_CORE_DARKEST;
  }

  @include at(sm) {
    @include padX(1);
  }
}
