.displayFont {
  font-family: var(--display-font);
  font-weight: 500;
}

.padded {
  padding: 16px;
}

.contained {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.iconButton {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.flipped {
  transform: rotate(180deg);
}

.textified {
  line-height: 1.563;
}

.textified p,
.textified ul,
.textified ol,
.textified li {
  margin-bottom: 1rem;
}

.textified h1,
.textified h2,
.textified h3,
.textified h4,
.textified h5 {
  line-height: var(--line-height-tight);
  margin-bottom: 1rem;
}
