.wrapper {
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

.sm {
  width: 50%;
  min-width: 96px;
  max-width: 144px;
}

.md {
  width: 75%;
  min-width: 240px;
  max-width: 520px;
}

.lg {
  width: 100%;
  max-width: 800px;
}
