.underlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #292919;
  color: #c2c2b2;
  width: 75%;
  min-width: 240px;
  max-width: 320px;
  z-index: 110;
}

.overlay a {
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.heading {
  line-height: 1.2;
  text-transform: uppercase;
}

.close {
  background: #474737;
  margin-right: -8px;
}

.closeX {
  position: relative;
  width: 50%;
  margin: 0 auto;
  transform: rotate(45deg);
}

.closeX,
.closeX::after {
  display: block;
  height: 0;
  border: 2px solid #e0e0d0;
}

.closeX::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  transform: rotate(-90deg);
}

.underlayEnter {
  transition: opacity 240ms ease-in;
}

.underlayLeave {
  transition: opacity 240ms ease-out;
}

.underlayEnterFrom,
.underlayLeaveTo {
  opacity: 0;
}

.underlayEnterTo,
.underlayLeaveFrom {
  opacity: 1;
}

.overlayEnter {
  transition: transform 160ms ease-in;
}

.overlayLeave {
  transition: transform 160ms ease-out;
}

.overlayEnterFrom,
.overlayLeaveTo {
  transform: translate3d(100%, 0, 0);
}

.overlayEnterTo,
.overlayLeaveFrom {
  transform: translate3d(0, 0, 0);
}
