.footer {
  color: #c2c2b2;
  font-size: 0.8rem;
  margin-top: 32px;
}

.legal {
  color: #a3a393;
}

.centered {
  display: flex;
  justify-content: center;
}

.nav a {
  font-size: var(--font-size-1);
}
