.wrapper {
  line-height: var(--line-height-loose);
}

.wrapper > * {
  margin: 1.6rem 0;
}

.wrapper a {
  color: #ffffef;
  text-decoration: underline;
}

.wrapper a:hover,
.wrapper a:focus-visible {
  text-decoration: none;
}

.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  margin-top: 1.6em;
  font-family: var(--display-font);
  line-height: var(--line-height-tight);
  color: #e0e0d0;
}

.wrapper h5,
.wrapper h6 {
  font-size: 1.1rem;
}

.wrapper h4 {
  font-size: var(--font-size-2);
}

.wrapper h3 {
  font-size: var(--font-size-3);
}

.wrapper h2 {
  font-size: var(--font-size-4);
}

.wrapper sup {
  font-size: 0.64rem;
  vertical-align: super;
}

.wrapper blockquote {
  position: relative;
  overflow: hidden;
  padding: 4px 0 4px 24px;
  font-size: var(--font-size-2);
  color: #a3a393;
  font-style: italic;
  z-index: 0;
}

.wrapper blockquote::before {
  content: '\201C';
  line-height: 1;
  font-size: var(--font-size-9);
  color: #474737;
  position: absolute;
  top: 0;
  left: -24px;
  z-index: -1;
}

.figure {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.code {
  font-family: monospace;
  font-size: var(--font-size-1);
  background: #292919;
  display: inline-block;
  padding: 0 4px;
}
