.wrapper {
  line-height: var(--line-height-loose);
}

.wrapper > * {
  margin: 1.6rem 0;
}

.wrapper a {
  color: #ffffef;
  text-decoration: underline;
}

.wrapper a:hover,
.wrapper a:focus-visible {
  text-decoration: none;
}

.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  margin-top: 1.6em;
  font-family: var(--display-font);
  line-height: var(--line-height-tight);
  color: #e0e0d0;
}

.wrapper h5,
.wrapper h6 {
  font-size: 1.1rem;
}

.wrapper h4 {
  font-size: var(--font-size-2);
}

.wrapper h3 {
  font-size: var(--font-size-3);
}

.wrapper h2 {
  font-size: var(--font-size-4);
}

.wrapper code {
  display: block;
  padding: 12px;
  background: #292919;
  border-bottom: 2px solid #474737;
  overflow-x: auto;
  color: #e0e0d0;
  font-family: monospace;
}

.wrapper sup {
  font-size: 0.64rem;
  vertical-align: super;
}
