.heading-xs,
.heading-sm,
.heading-md,
.heading-lg,
.heading-xl {
  font-family: 'Georgia', serif;
}

.heading-xs {
  font-size: 0.8rem; // GASP! breaks the ... golden ratio?!
}

.heading-sm {
  font-size: 1rem;
}

.heading-md {
  font-size: 1.618rem;
}

.heading-lg {
  font-size: 2.618rem;
}

.heading-xl {
  font-size: 4.236rem;
}
